<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <link rel="stylesheet" href="/css/myPage.css">
  <title>Document</title>
</head>
<script>
  $(function () {

    $(".submenu").hide();

    $(".catagory").mouseover(function () {
      $(".submenu").slideDown();
    });

    $(".search input").hide();
    $(".search button").hide();

    $(".searchIcon").mouseover(function () {
      $(".search input").slideDown();
      $(".search button").slideDown();
    });

    var idx_lgth = $("#visual>div").length;
    var srt = 0;
    var idx = 0;

    $("section>a").click(function(){
      console.log(this);
      console.log($(this).addClass('on'));
      idx = $(this).index();
      srt = idx;
      $(this).addClass('on').siblings().removeClass('on');
      $("#visual>div").eq(idx).addClass('on').siblings().removeClass('on');
    });

    var AutoSlide = setInterval(AutoRun, 2000);

    function AutoRun(){
      srt++;

      if(srt == idx_lgth){
        srt = 0;
      }
      $("section>a").eq(srt).addClass('on').siblings().removeClass('on');
      $("#visual>div").eq(srt).addClass('on').siblings().removeClass('on');
    }

    $("#visual").mouseover(function(){
      clearInterval(AutoSlide);
    });

    $("#visual").mouseleave(function(){
      AutoSlide = setInterval(AutoRun, 2000);
    });
  });
</script>
<body>
<div id="sidebar">
  <div id="menu_head">
    <li id="head_list">
      <div class="logo"><p> Mega market</p></div>
      <div class="search_area"><button class="searchIcon"><img class = "img_searchIcon" src ="/images/search.png" width="50px" height="50px" ></button></div>
      <form action="/productSearch" method="get">
        <div class="search">
          <input type="text" placeholder="검색어를 입력해주세요." class="searchInput" name="searchText">
          <div class="btnSearchDiv01">
            <button type="submit" class="btnSearch" style="width:30px; background-color: white;">
              <img src="/images/glasses01.png" alt="" class="glasses">
            </button>
          </div>
        </div>
      </form>
    </li>
  </div>
  <div id = "menu_profile">
    <li id = "profile_area">
      <div class = "profile_icon"><img src="/images/profile.png" alt="사람 아이콘" width="50px" height="50px"></div>
      <div class="nickname">
        <input type="button" class="blind" th:if="${loginCheck} == 'unlogined'" th:value="${login}" id="unlogined">
        <!--<span class = "blind unlogined" th:if="${loginCheck} == 'unlogined'" th:text="${login}"></span>-->
        <span class = "blind logined" th:if="${loginCheck} == 'logined'" th:text="${userName}" id="logined"></span>
      </div>
    </li>
  </div>
  <a th:if="${logoutCheck} == 'logoutCheck'" class="logoutCheck">logout</a>
  <!--    <button th:if="${logoutCheck} == 'logoutCheck'" type="button" class="logoutCheck">logout</button>-->
  <div id = "menu_area">

    <ul role="menu">
      <li class = "myPage">
        <a href= "/myPage" style="text-decoration:none">
          <!-- 추가-->
          <img  src="/images/me.png" width="30px" height="30px" th:if="${loginCheck} == 'logined'" ><span th:if="${loginCheck} == 'logined'">마이페이지</span>
        </a>
      </li>
      <li>
        <a href= "/main" style="text-decoration:none">
          <img src="/images/menu1.png" width="30px" height="30px">홈
        </a>
      </li>
      <li>
        <a href= "/newProduct" style="text-decoration:none">
          <img src="/images/menu2.png" width="30px" height="30px">신상품
        </a>
      </li>
      <li>
        <a href= "/best" style="text-decoration:none">
          <img src="/images/menu3.png" width="30px" height="30px">베스트
        </a>
      <li>
      <li>
        <a href= "/event" style="text-decoration:none">
          <img src="/images/menu4.png" width="30px" height="30px" >이벤트
        </a>
      </li>
      <li class = "catagory" >
        <a href= "#" style="text-decoration:none">
          <img src="/images/menu5.png" width="30px" height="30px">카테고리
        </a>
      </li>
      <div class = "submenu">
        <li>
          <a href="/goodList/vegetable" style="text-decoration:none">
            <img src="/images/circle.png" width="3px" height="3px">채소
          </a>
        </li>
        <li>
          <a href="/goodList/fruitrice" style="text-decoration:none">
            <img src="/images/circle.png" width="3px" height="3px">과일,견과,쌀
          </a>
        </li>
        <li>
          <a href="/goodList/fish" style="text-decoration:none">
            <img src="/images/circle.png" width="3px" height="3px">수산,해산
          </a>
        </li>
        <li>
          <a href="/goodList/snackbread" style="text-decoration:none">
            <img src="/images/circle.png" width="3px" height="3px">베이커리,과자
          </a>
        </li>
        <li>
          <a href="/goodList/meat" style="text-decoration:none">
            <img src="/images/circle.png" width="3px" height="3px">정육,계란
          </a>
        </li>
        <li>
          <a href="/goodList/oilnoodle" style="text-decoration:none">
            <img src="/images/circle.png" width="3px" height="3px">면,양념,오일
          </a>
        </li>
        <li>
          <a href="/goodList/drink" style="text-decoration:none">
            <img src="/images/circle.png" width="3px" height="3px">생수,음료
          </a>
        </li>
        <li>
          <a href="/goodList/importantdish" style="text-decoration:none">
            <img src="/images/circle.png" width="3px" height="3px">메인요리
          </a>
        </li>
      </div>
      <!-- 추가-->

    </ul>
    <!--        <button type="button" th:if="${logoutCheck} == 'logoutCheck'" class="logoutCheck">logout</button>-->
  </div>
</div>
<div id="main">
  <div id="div01">
    <span id="span01">마이페이지</span>
  </div>
  <div id="div02">
    <div id="div02sdiv01"><span id="span02" th:text="${userName}">rlaehdgu1</span></div>
    <div id="div02sdiv02"><span id="span03" th:text="${userId}">김동현</span></div>
    <div id="div02sdiv03"><a href="/memberconfirm" id="memberConfirm">회원정보수정</a></div>
  </div>

  <span id="span04">주문/배송조회</span>
  <div id="div03">
    <div id="div03sdiv01">
      <span id="span05" th:text="${deliveryStatus01}">0</span><br>
      <span id="span06">주문접수</span>
    </div>
    <div id="div03sdiv02">
      <span id="span07" th:text="${deliveryStatus02}">10</span><br>
      <span id="span08">배송준비</span>
    </div>
    <div id="div03sdiv03">
      <span id="span09" th:text="${deliveryStatus03}">5</span><br>
      <span id="span10">배송중</span>
    </div>
    <div id="div03sdiv04">
      <span id="span11" th:text="${deliveryStatus04}">25</span><br>
      <span id="span12">배송완료</span>
    </div>
  </div><br><br><br><br><br><br>

  <span id="span13">취소/환불 내역</span>
  <div id="div04">
    <div id="div04sdiv01">
      <span id="span14" th:text="${cancelCount}">5</span><br>
      <span id="span15">취소완료</span>
    </div>
    <div id="div04sdiv02">
      <span id="span16" th:text="${refundedCount}">5</span><br>
      <span id="span17">환불완료</span>
    </div>
  </div><br><br><br><br><br>

  <span id="span18">작성한 후기</span>
  <div id="div05">
    <div id="div05sdiv01">
      <span id="span19" th:text="${reviewCount}">6</span><br>
      <span id="span20">후기</span>
    </div>
  </div><br><br><br><br><br>

  <span id="span21">장바구니 갯수</span>
  <div id="div06">
    <div id="div06sdiv01">
      <span id="span22" th:text="${basketCount}">6</span><br>
      <span id="span23">장바구니</span>
    </div>
  </div><br><br>


  <div style="height: 200px;"></div>
</div>
<script type="text/javascript" src="/js/myPage.js"></script>
<script>
  $('.logoutCheck').click(function () {

    var googleLogin = $('.googleLogin').val();
    var kakaoLogin =  $('.kakaoLogin').val();
    console.log("googleLogin : " + googleLogin);
    console.log("kakaoLogin : " + kakaoLogin);
    if(googleLogin == "true"){
      location.href = "https://www.google.com/accounts/Logout?continue=https://appengine.google.com/_ah/logout?continue=http://localhost:80/snsLogout";
    }
    else if(kakaoLogin == "true"){
      location.href = "https://kauth.kakao.com/oauth/logout?client_id=8a508edf449a39d0fcb2078d37966226&logout_redirect_uri=http://localhost/snsLogout";
    }else{
      // location.href = "/loginForm02";

      $.ajax({
        url : '/logoutForUser',
        type : 'get',
        data : {

        },
        success : function (result) {
          console.log("로그아웃 요청 성공");
          console.log("result : " + result);
          location.href="/loginForm02?retryCheck=no";
        },
        error : function () {
          console.log("로그아웃 요청 실패");
        }
      });
    }
  });

</script>
</body>
</html>