<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/refundHistory.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <title>Document</title>
</head>
<script>
  $(function () {

    /**카테고리영역**/
    $(".submenu").hide();

    $(".catagory").mouseover(function () {
      $(".submenu").slideDown();
    });

    $(".submenu").mouseleave(function () {
      $(".submenu").hide();
    });

    /**검색영역**/
    $(".search input").hide();
    $(".search button").hide();

    $(".searchIcon").mouseover(function () {
      $(".search input").slideDown();
      $(".search button").slideDown();
    });

  });
</script>
<body>
<div id="sidebar">
  <div id="menu_head">
    <li id="head_list">
      <div class="logo"><p> Mega market</p></div>
      <div class="search_area"><button class="searchIcon"><img class = "img_searchIcon" src ="/images/search.png" width="50px" height="50px" ></button></div>
      <form action="/productSearch" method="get">
        <div class="search">
          <input type="text" placeholder="검색어를 입력해주세요." class="searchInput" name="searchText">
          <div class="btnSearchDiv01">
            <button type="submit" class="btnSearch" style="width:30px; background-color: white;">
              <img src="/images/glasses01.png" alt="" class="glasses">
            </button>
          </div>
        </div>
      </form>
    </li>
  </div>
  <div id = "menu_profile">
    <li id = "profile_area">
      <div class = "profile_icon"><img src="/images/profile.png" alt="사람 아이콘" width="50px" height="50px"></div>
      <div class="nickname">
        <a href="/loginForm02" class="blind" th:if="${loginCheck} == 'unlogined'" th:text="${login}" id="unlogined" style="text-decoration: none;"></a>
        <!--                <a href="/loginForm02" class="blind" th:if="${loginCheck} == 'unlogined'" th:value="${login}" id="unlogined" style="text-decoration: none;"></a>-->
        <!--<span class = "blind unlogined" th:if="${loginCheck} == 'unlogined'" th:text="${login}"></span>-->
        <span class = "blind logined" th:if="${loginCheck} == 'logined'" th:text="${userName}" id="logined"></span>
      </div>
    </li>
  </div>
  <a th:if="${logoutCheck} == 'logoutCheck'" class="logoutCheck">logout</a>
  <!--    <button th:if="${logoutCheck} == 'logoutCheck'" type="button" class="logoutCheck">logout</button>-->
  <div id = "menu_area">

    <ul role="menu">
      <li class = "myPage">
        <a href= "/myPage" style="text-decoration:none">
          <!-- 추가-->
          <img  src="/images/me.png" width="30px" height="30px" th:if="${loginCheck} == 'logined'" ><span th:if="${loginCheck} == 'logined'">마이페이지</span>
        </a>
      </li>
      <li>
        <a href= "/main" style="text-decoration:none">
          <img src="/images/menu1.png" width="30px" height="30px">홈
        </a>
      </li>
      <li>
        <a href= "/newProduct" style="text-decoration:none">
          <img src="/images/menu2.png" width="30px" height="30px">신상품
        </a>
      </li>
      <li>
        <a href= "/best" style="text-decoration:none">
          <img src="/images/menu3.png" width="30px" height="30px">베스트
        </a>
      <li>
      <li>
        <a href= "/event" style="text-decoration:none">
          <img src="/images/menu4.png" width="30px" height="30px" >이벤트
        </a>
      </li>
      <li class = "catagory" >
        <a href= "#" style="text-decoration:none">
          <img src="/images/menu5.png" width="30px" height="30px">카테고리
        </a>
      </li>
      <div class = "submenu">
        <li>
          <a href="/goodList/vegetable" style="text-decoration:none">
            <img src="/images/circle.png" width="3px" height="3px">채소
          </a>
        </li>
        <li>
          <a href="/goodList/fruitrice" style="text-decoration:none">
            <img src="/images/circle.png" width="3px" height="3px">과일,견과,쌀
          </a>
        </li>
        <li>
          <a href="/goodList/fish" style="text-decoration:none">
            <img src="/images/circle.png" width="3px" height="3px">수산,해산
          </a>
        </li>
        <li>
          <a href="/goodList/snackbread" style="text-decoration:none">
            <img src="/images/circle.png" width="3px" height="3px">베이커리,과자
          </a>
        </li>
        <li>
          <a href="/goodList/meat" style="text-decoration:none">
            <img src="/images/circle.png" width="3px" height="3px">정육,계란
          </a>
        </li>
        <li>
          <a href="/goodList/oilnoodle" style="text-decoration:none">
            <img src="/images/circle.png" width="3px" height="3px">면,양념,오일
          </a>
        </li>
        <li>
          <a href="/goodList/drink" style="text-decoration:none">
            <img src="/images/circle.png" width="3px" height="3px">생수,음료
          </a>
        </li>
        <li>
          <a href="/goodList/importantdish" style="text-decoration:none">
            <img src="/images/circle.png" width="3px" height="3px">메인요리
          </a>
        </li>
      </div>
      <!-- 추가-->

    </ul>
    <!--        <button type="button" th:if="${logoutCheck} == 'logoutCheck'" class="logoutCheck">logout</button>-->
  </div>
</div>
<div id="main">
<span class="title">환불내역</span>
<th:block th:each="cancelProduct : ${refundedProductList}">
  <table>
    <tr>
      <td colspan="3">
        환불 접수일 : <span th:text="${#temporals.format(cancelProduct.regDate, 'yyyy-MM-dd HH:mm')}" th:id="cancelDate+${cancelProductStat.count}">2020/6/25</span> | 주문일 : <span th:text="${#temporals.format(cancelProduct.orderRegDate , 'yyyy-MM-dd HH:mm') }" th:id="orderDate+${cancelProductStat.count}">2020/6/25</span><br>
        주문번호 : <span th:text="${cancelProduct.sendNum}" th:id="sendNum+${cancelProductStat.count}">13023154515</span> | 총 환불금액 : <span th:id="refundAmount+${cancelProductStat.count}" class="refundPrice">16800</span> 원
      </td>
    </tr>
    <tr>
      <td>
        <span th:text="${cancelProduct.goodName}" th:id="goodName+${cancelProductStat.count}">아이폰 정품 실리콘 케이스</span>
      </td>
      <td>
        <span th:text="${cancelProduct.count}" th:id="count+${cancelProductStat.count}">2</span>개<br>
        개당 : <span th:text="${cancelProduct.price}" th:id="price+${cancelProductStat.count}">12000</span>원
      </td>
      <td>
        환불완료<br>
        <button class="cancleDetail" th:id="cancelDetail+${cancelProductStat.count}">취소상세</button>
      </td>
    </tr>
    <input type="hidden" th:value="${cancelProduct.count}" class="cancelProductCount" th:id="cancelProductCount+${cancelProductStat.count}">
    <input type="hidden" th:value="${cancelProduct.price}" class="cancelProductPrice" th:id="cancelProductPrice+${cancelProductStat.count}">
    <input type="hidden" th:value="${cancelProduct.id}" th:id="cancelProductId+${cancelProductStat.count}">
    <input type="hidden" th:value="${cancelProductStat.count}" class="id">
  </table>
</th:block>

<input type="hidden" class="googleLogin" th:value="${googleLogin}">
<input type="hidden" class="kakaoLogin" th:value="${kakaoLogin}">
  <div style="height: 150px;"></div>
</div>


<input type="hidden" th:value="${listSize}" class="listSize">
<script type="text/javascript" src="/js/refundHistory.js"></script>
<script>
  $('.logoutCheck').click(function () {

    var googleLogin = $('.googleLogin').val();
    var kakaoLogin =  $('.kakaoLogin').val();
    console.log("googleLogin : " + googleLogin);
    console.log("kakaoLogin : " + kakaoLogin);
    if(googleLogin == "true"){
      location.href = "https://www.google.com/accounts/Logout?continue=https://appengine.google.com/_ah/logout?continue=http://localhost:80/snsLogout";
    }
    else if(kakaoLogin == "true"){
      location.href = "https://kauth.kakao.com/oauth/logout?client_id=8a508edf449a39d0fcb2078d37966226&logout_redirect_uri=http://localhost/snsLogout";
    }else{
      // location.href = "/loginForm02";

      $.ajax({
        url : '/logoutForUser',
        type : 'get',
        data : {

        },
        success : function (result) {
          console.log("로그아웃 요청 성공");
          console.log("result : " + result);
          location.href="/loginForm02?retryCheck=no";
        },
        error : function () {
          console.log("로그아웃 요청 실패");
        }
      });
    }
  });

</script>
</body>
</html>