@charset "UTF-8";
#sidebar{
    position: fixed;
    background: #212121;
    color : white;
    width: 200px;
    height: 100%;
    z-index: -999;
}

#sidebar li {
    list-style: none;
}
#head_list{
    display: flex;
    margin-left: 30px;
}
#sidebar li .logo {
    color: #AD1457;
    font-size: 30px;
    margin-left: 15px;
    display: inline-block;
    flex: 1;


}
#sidebar li .search_area{
    margin-top: 40px;
    flex: 1;
}

#sidebar .search input{
    margin-top: 50px;
    margin-left: 25px;
    border-radius: 6px;
    width: 300px;
    height: 20px;
}

#sidebar button {
    background: #212121;
    border: #212121;
    width: 50px;
}

#sidebar #profile_area{
    border: solid white;
    display: flex;
    border-color: black;
    width: 150px;
    height: 50px;
    margin-left: 20px;
}

.profile_icon {
    flex: 1;
}

.profile_icon img {
    margin-left: 10px;
}

.nickname {
    flex: 1;
    margin-top: 15px;
    margin-right: 5px;
}


#menu_area {
    list-style: none;
}
#menu_area li{
    display: flex;
    margin-top: 5px;

}

#menu_area a{
    color: white;
}

#menu_area img{
    vertical-align: middle;
    margin-right: 5px;
}
#menu_profile{
    margin-bottom: 1px;
}



.catagory img{
    margin-top: 5px;
    vertical-align: bottom;

}

.submenu {
    font-size: 3px;
    border: solid #AD1457;
    width: 100px;
    padding-left: 15px;
    margin-left: 30px;
    box-sizing: border-box;
    margin-bottom: 50px;

}

.submenu img {
    margin-top: 4px;
}


/*<!-- 추가-->*/
.logoutCheck {
    margin-left: 133px;
    color: #AD1457;
    font-size: 13px;
}



/****************************메인**********************/
#main{
    position: absolute;
    width: 1000px;
    margin-top: 100px;
    margin-left: 350px;
    margin-right: 50px;
}

/**로그인**/
#unlogined{
    border: none;
    background-color: #212121;
    color: white;
    font-size: 15px;
}
#logined{
    color: white;
    font-size: 15px;
}
.glasses{
    width: 18px;
    height: 18px;
    margin-top: 1px;
}
/* add */
.searchInput{
    height: 20px;
}
.btnSearchDiv01{
    margin-top: -23px;
    margin-left: -3px;
    width: 1px;
}
.btnSearch{
    margin-left: 340px;
    margin-top: -19px;
    background-color: white;
}

.Title{
    width: 357px;
    font-size: 30px;
    text-align: center;
}
p{
    display: inline-block;
}
.name{
    font-size: 20px;
    line-height: 1px;
}
.email{
    font-size: 20px;
    line-height: 11px;
}
.inputName{
    background-color: rgb(221, 221, 221);
    border : solid 1px rgb(221,221,221);
    margin-left: 35px;
    width: 270px;
    height: 40px;
}
.inputName::placeholder{
    text-align: center;
}
.inputEmail{
    background-color: rgb(221, 221, 221);
    border : solid 1px rgb(221,221,221);
    margin-left: 15px;
    width: 270px;
    height: 40px;
    margin-bottom: 10px;
}
.inputEmail::placeholder{
    text-align: center;
}
.btnfindId{
    border: solid 1px black;
    margin-left: 80.5px;
    width: 276px;
    height: 38px;
    color: white;
    background-color: black;
}
.modal{
    position: absolute;
    top :0;
    left :0;

    width: 100%;
    height: 100%;

    display: none;

    background-color: gray;
}
.modal.show{
    display: block;
}
.modal_body{
    position: absolute;
    top: 50%;
    left: 50%;

    width: 200px;
    height: 100px;

    padding: 40px;

    text-align: center; 

    background-color: rgb(255, 255, 255); 
    border-radius: 10px; 
    box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15); 

    transform: translateX(-50%) translateY(-50%);

}
.submit{
    display: none;
}
.goHomeButton{
    width: 130px;
    height: 44px;
    border-radius: 12px;
    border: solid 0.1px rgb(14, 179, 255);
    background-color: white;
    font-weight: bold;
    font-size: 17px;
}